/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';

@import '~@angular/material/theming';
@include mat-core();

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-green, 500, 500, 900);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);

html, body, app-root, .app-frame {
  overflow: auto;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}

// Custom
.d-flex > * {
  margin: 0.5em;
}