<mat-card>
  <mat-card-header>
    <mat-card-title>Robot</mat-card-title>
    <mat-card-subtitle>Robot current situation</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="d-flex flex-wrap flex-row justify-content-around align-content-around">
    <mat-card class="col-md-12">
      <mat-card-header>
        <mat-card-title>Position</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Coordinates: ( {{robot.position.x}}, {{robot.position.y}} )
        </p>
        <p>
          Movement: {{robot.direction}}
        </p>
      </mat-card-content>
    </mat-card>
    
    <!-- <mat-card class="col-md-5 col-sm-12">
      <mat-card-header>
        <mat-card-title>Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{robot.info}}
      </mat-card-content>
    </mat-card> -->
  </mat-card-content>
</mat-card>